:root {
--background: #2a2a2a;
--text: ghostwhite;
--header: #1a1a1c;
}

html {
background-color: #2B2B2B !important;
}


.css-v758ki-AppMainContainer {
background: var(--background) !important;
min-width: auto !important;
max-width: 3000px !important;
margin: 0px !important;
padding: 10px 20px !important; 
}


.css-y7r3-AppHeader {
background: var(--header) !important;
}

.css-1hvrgvd-CollectionTopContainer-card-cardTop {
width: auto !important;
padding: 10px 20px !important;
background: #1a1a1a !important;
border-radius: 15px !important;
border: 2px solid #639 !important;
}

.css-bn4qgs-CollectionTopNewButton-button-default-gray {
border-radius: 30px !important;
}

.css-37khcc-CollectionTopHeading-cardTopHeading {
font-size: 1.3rem !important;
color: var(--text) !important;
}

.css-5wgw3f-ListCard-card {
width: 100% !important;
border-radius: 8px !important;
border: 2px solid rgb(102, 51, 153) !important;
background: none;
}

.css-5wgw3f-ListCard-card:hover {
background: #1b1b1b;
}

.css-1mtos59-ListCardTitle {
color: var(--text) !important;  
}

.css-1t9i08i-ListCardLink:hover {
background: none !important;
}

.css-1gj57a0-SidebarContainer-card {
background-color: #1a1a1a !important;
border: 2px solid #639 !important;
}


.css-npvq26-SidebarHeading {
font-size: 1.5rem !important;
color: var(--text);
}

.css-6o0rf-PreviewPaneContainer-ControlPaneContainer {
background: #1a1a1a !important;
}

.css-6o0rf-PreviewPaneContainer-ControlPaneContainer, .css-16b5p1f-ToolbarSectionMain-toolbarSection, .css-1acatj1-ToolbarSectionMeta-toolbarSection {
background: var(--header) !important;
}

#preview-pane {
background: var(--background) !important;
}

.css-1jydmlz-PreviewContainer {
color: var(--text) !important;
}

.Resizer.vertical {
background: #639 !important;
}