/* @font-face {
  font-family: Inter;
  src: url('/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
  font-family: Inter Tight;
  src: url('/fonts/Inter_Tight/InterTight-VariableFont_wght.ttf');
}

@font-face {
  font-family: Open Sans;
  src: url('/fonts/Open_Sans/OpenSans-VariableFont_wght.ttf');
} */

:root {
--font1: 'Doto', sans-serif;
--font2: 'Inter', sans-serif;
--font3: 'Inter Tight', sans-serif;
--font4: 'Open Sans', sans-serif;
--text: #f2f2f2;
--primary: #136696;
--accent: #6441a5;
--screen-padding: 40vh 3vw 40vh 3vw;
}


html, body {
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
  height: auto;
  background: linear-gradient(15deg,#1a1a1a,#1e1e1e,var(--accent));
  background-size: 180% 180%;
  animation: gradient-animation 15s ease-in-out infinite;
  font-family: var(--font4);
  color: var(--text);
  padding: 0;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-color: white black;
  scrollbar-width: thin;
  overscroll-behavior: none !important;
  }
  
  @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  }

h1 {
font-size:5rem;
text-wrap: pretty;
margin: 0px;
margin-bottom: 20px;
line-height: 1;
font-family: var(--font2);
}

h2 {
font-size: 3rem;
font-family: var(--font2);
}

h3 {
font-size: 2.5rem;
font-family: var(--font2);
}

h4 {
font-size: 2rem;
font-family: var(--font2);
}

nav {
display: flex !important;
justify-content: flex-end !important;
align-items: center;
font-size: 1.3rem;
gap: 1rem;
padding: 10px 30px 0px 30px;
top: 0;
z-index: 999;
font-family: var(--font2);
flex-wrap: wrap;
}


.nav-button-effects a {
font-size: 1rem;
color: #e1e1e1;
font-family: inherit;
cursor: pointer;
position: relative;
border: none;
font-weight: 800;
background: none;
text-decoration: none;
text-transform: uppercase;
transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
transition-duration: 400ms;
transition-property: color;
padding-top: 10px;
}

.nav-button-effects a:focus,
.nav-button-effects a:hover {
color: #fff;
}

.nav-button-effects a:focus:after,
.nav-button-effects a:hover:after {
width: 100%;
left: 0%;
}

.nav-button-effects a:after {
content: "";
pointer-events: none;
bottom: -2px;
left: 50%;
position: absolute;
width: 0%;
height: 2px;
background-color: var(--primary);
transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
transition-duration: 400ms;
transition-property: width, left;
}


.screen-padding {
padding: 10px 20px;
}


button {
  font-weight: bold !important;
    font-family: var(--font2);
    display: inline-block;
    height: 2.6em;
    line-height: 2.5em;
    margin: 0px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--accent);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--text);
    background:transparent;
    padding: 0px 20px;
    }
    
    button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--accent);
    height: 150px;
    width: 300px;
    border-radius: 50%;
    }
    
    button:hover {
    color: #fff;
    outline: 1px solid var(--accent);
    box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
    }
    
    button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
    }
    
    button:hover:before {
    top: -30px;
    left: -30px;
    }
    
    button:active:before {
    background: var(--accent);
    transition: background 0s;
    }


/* Mobile Nav */


@media screen and (min-width: 50rem) {

  #mySidenav {
      display: none !important;
  }
  
  .openbtn {
      display: none;
  }
  
  }
  
  
  
  @media screen and (min-width: 0px) and (max-width: 50rem) {

  .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: var(--text);
  padding: 10px 15px;
  border: none;
  
  svg {
  width: 3rem;
  }

}
  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(176, 92, 255);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

  #navdesktop {
  display: none !important;
  } 
  
   /* The side navigation menu */
   .sidenav {
      height: 100%;
      width: 0; 
      position: fixed;
      z-index: 999;
      top: 0; 
      left: 0;
      background-color: #663399;
      color: var(--text);
      overflow-x: hidden;
      overflow-y: hidden;
      overscroll-behavior: none;
      padding-top: 10rem;
      transition: 0.5s; 
      display: flex;
      flex-direction: column;
   
    }
    
    /* The navigation menu links */
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      display: block;
      transition: 0.3s;
      font-size: 3.5rem;
      color: var(--text) !important;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      left: -4rem;
      font-size: 3rem;
      margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    } 
  
  }
  
