@media screen and (min-device-width:0px) and (max-device-width:560px) {

body {
background-color: #1a1a1a !important;
}

.screen-padding {
padding: 0px 20px !important;
}

#Hero {
height: 80vh !important;
margin-bottom: 30px;
;
}

#About {
flex-wrap: wrap !important;
text-align: justify !important;
}

.about-container {
flex-wrap: wrap-reverse !important;
}


.articles-container {
width: 100% !important;
}

.hero-buttons{
flex-direction: column;
}


#Projects {

.projects-container {
margin-left: 0;
}


.projects-container h2 {
writing-mode: horizontal-tb;
transform: rotate(0deg) scaleX(1);
padding: 0px 25px;
margin-top: 150px;
}

.project-content {
width: 100vw;
height: 50vh;
 }

 swiper-container {
  width: 87.55%;
  }
}

#Articles { 
.title {
writing-mode: horizontal-tb;
transform: rotate(0deg) scaleX(1);
padding: 0px 25px;
}
}

#Contact {
h2 {
writing-mode: horizontal-tb;
transform: rotate(0deg) scaleX(1);
padding: 0px 25px;
margin-top: 25px !important;
}
}


.projects-container {
display: flex;
flex-direction: column;
}


article {


h2 {
margin-top: 15px !important;
}

}

}