body, html {
background-color: #1a1a1a;
overflow: hidden !important;
height: 100vh !important;
overflow: hidden !important;
}

.blog-header {
display: flex;
justify-content: space-evenly;
height: 100vh !important;
padding-right: 30px;
margin-top: 40px;
overflow: hidden !important;
}

#all-blogs {
flex:2;
    
a {
color: var(--text) !important;
text-decoration: none !important;
 }    
}

h1 {
position: absolute;
height: 1000px;
left: -20px;
writing-mode: vertical-rl;
font-size: 10rem !important;
margin-top: 12rem !important;
}

article {
  min-height: 100dvh;
  overflow: none !important;

h2 {
margin-bottom: 0px !important;
text-align: right !important;
overflow: hidden !important;
}

p {
margin: 0px !important;
font-weight: bold;
text-align: right !important;
overflow: hidden !important;
}

a {
text-align: right !important;
font-size: clamp(.7rem, .7rem + 3vw, 5rem) !important;
transition: 112ms ease-in-out all;
overflow: hidden !important;
 }

a:hover {
font-size: clamp(1rem, 1rem + 3vw, 5rem) !important;
transition-duration: 200ms;
transition: 170ms ease-in-out all;
text-shadow: 2px 5px 6px #000;
 }
}
